@model web_project.Models.User
@{
    ViewBag.Title = "User Details";
}

<div class="d-flex justify-content-center mt-4">
    <div class="text-center" style="width: 100%; max-width: 550px;">
        <h2 class="mb-5">@Model.Username's Profile</h2>

        <div class="card shadow">
            <div class="card-body text-start">
                <h4 class="text-center mb-4">@Model.FirstName @Model.LastName</h4>

                    <div class="row mb-2">
                        <div class="col-4 font-weight-bold">Username:</div>
                        <div class="col-8">@Model.Username</div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-4 font-weight-bold">Email:</div>
                        <div class="col-8">@Model.Email</div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-4 font-weight-bold">Gender:</div>
                        <div class="col-8">@Model.Gender</div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-4 font-weight-bold">Date of birth:</div>
                        <div class="col-8">@Model.Date</div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-4 font-weight-bold">Role:</div>
                        <div class="col-8">@Model.Role</div>
                    </div>
               

                <div class="mt-3 d-flex justify-content-center gap-4">
                    <a href="@Url.Action("EditUser", "User", new { id = Model.Id })" class="btn btn-primary col-2">
                        Edit
                    </a>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary col-2">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>